
<div class="adminme">
 <!--       <form method="post">-->
            <div class="panel admin-panel">
                <div class="panel-head"><strong>成绩录入列表</strong></div>
            <!--    <div class="padding border-bottom">
                    <input type="button" class="button button-small border-green" value="新增毕设" onclick="javascript:window.location.href='{:U('Teacher/add')}';" />
                </div>-->
                <table class="table table-hover">
                    <tr>
                        <th width="80">学号</th>
                        <th width="110">姓名</th>
                        <th width="110">成绩</th>
                        <th width="160">试卷是否上传</th>
                        <th width="140">录入成绩</th>
                        <th width="90">上传试卷</th>
                    </tr>
                    <volist name="scoreList" id="index">
                    <tr>
                        <td>{$index.stuCard}</td>
                        <td>{$index.stuRealName}</td>
                        <td>
                            <input type="hidden" name="stuid" value="{$index.stuId}"/>
                            <input type="hidden" name="cid" value="{$index.cId}"/>                        
                            <input type=text name="score" onblur="checkscore(this)" value="{$index.score}">
                            <input type="hidden" name="score_back" value="{$index.score}"/>
                        </td>
                      
                        <td>
                            <if condition="$index.paperUrl == NULL">
                            <a class="button border-black button-little">未上传</a>
                            <else />
                            <a class="button border-black button-little">已上传</a>
                            </if>
                        </td>
                          <td> 
                            <input type="hidden" name="cid" value="{$index.cId}"/>                             
                            <a class="button border-yellow button-little dialogs" name="save_score" href="#"  data-mask="1"  onclick="javascript:savescore()" data-width="50%">保存成绩</a>

                        </td>
                        <td>
                            <form name="uploadform" action="uploadfile" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="stuid" value="{$index.stuId}"/>
                                <input type="hidden" name="cid" value="{$index.cId}"/>
                                <input type="file" name='uploadfile' /> 
                                <input type="submit" value="确认上传" />
                            <!--   <a class="button border-yellow button-little dialogs" name="uploadfile" href="#"  data-mask="1"   data-width="50%">确认上传</a> -->
                            </form>
                            
                        </td>
                    </tr>
                    </volist>
                </table>
                
                <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
            </div>
    <!--    </form>  -->
        
</div>

    

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>课题操作</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>是否确认要删除该课题？</p>
                    <p>O(∩_∩)O~~(为可恢复删除.恢复联系管理员)</p>
                </div>
                <input type="button" class="button bg-main" value="删了吧" onclick="javascript:del();" />
                <button class="button bg-yellow" type="reset">反悔了</button>
            </div> 
        </div> 
    </div>
        
  

    <div id="detaildialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>课题详情</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <table class="table tableme"> 
                    </table>
                </div>
            </div> 
        </div> 
    </div>
    <script>
        
        function checkscore(ob) {
            var old_value= $(ob).next().val();
            

            var value = ob.value;
            if(value)
             if(!(value.match(/^\d+(?:\.\d{1,2})?$/)&& value>=0 && value<=100 )){
                alert("输入的值必须为0-100的数字且最多有两位小数");
                ob.value=old_value;

             }
        
        
        }
    </script>

    <script>
        var ID = null;
        function del(){
            window.location.href = "{:U('Teacher/delGP/id/" + ID +"')}";
        }

        function confirm(stlId){
            window.location.href = "{:U('Teacher/confirm/id/" + stlId + "')}";
        }
      
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Teacher/checkGP')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'gpSHState'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? '软件方向' : '硬件方向');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='chkusr']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Teacher/chkStuInfo')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'stuSex'){
                                    $(".form-me ." + x + "").html(data.detail[x] == 1 ? '男' : '女');
                                }else{
                                    $(".form-me ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='detail']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Teacher/checkStuList')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){

                            var str = "<tr><th>学生姓名</th><th>联系方式</th><th>邮件地址</th><th>专业方向</th><th>选定时间</th><th>操作</th></tr><tr>";
                            for(var x in data.stuList){
                                var tmp = data.stuList[x];
                                var stlId = null;
                                str = "<tr>" + str;
                                for(var y in tmp){
                                    if(y == "stlId"){
                                        stlId = tmp[y];
                                    }else{
                                        str += "<td>" + tmp[y] + "</td>";
                                    }
                                }
                                str = str + "<td><a class='button border-blue button-little' name='modify' href='javascript:confirm(" + stlId +")'>确认</a></td></tr>";
                            }
                            $(".tableme").html(str);
                            str = "";

                        }else{
                            $(".tableme").html("<tr><th style='text-align:center;'>该课题暂无学生选择</th></tr>");
                            return ;
                        }
                    }
                }); 
            });

            $(".table form[name='uplaodform']").click(function(){
                
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });
            $(".table a[name='save_score']").click(function(){
                var cid = $(this).parent().prev().prev().find("input[name='cid']").val();
                var stuid = $(this).parent().prev().prev().find("input[name='stuid']").val();
                var score = $(this).parent().prev().prev().find("input[name='score']").val();
                window.location.href = "{:U('Teacher/savescore/cid/" + cid +"/stuid/"+stuid+"/score/"+score+"')}";
               // alert("{:U('Teacher/savescore/cid/" + cid +"/stuid/"+stuid+"/score/"+score+"')}");
            });
            
            $(".table a[name='uploadfile']").click(function(){
                var cid = $(this).parent().prev().prev().prev().find("input[name='cid']").val();
                var stuid = $(this).parent().prev().prev().prev().find("input[name='stuid']").val(); 
                //var file = $(this).parent().find("input[name='uploadfile']").val();
                alert(stuid);
                var form = $(this).parent().find();
                //new FormData(document.getElementById("myForm"));

            //    window.location.href = "{:U('Teacher/savescore/cid/" + cid +"/stuid/"+stuid+"/score/"+score+"')}";
            
                 $.ajax({
                    url: "{:U('Teacher/uploadfile')}",
                    data: {
                        cId: cid,
                        stuId: stuid,
                        data_form:form,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            alert("post success");
                        }else{
                            return ;
                        }
                    }
                }); 
               // alert("{:U('Teacher/savescore/cid/" + cid +"/stuid/"+stuid+"/score/"+score+"')}");
            });


        });
    </script>