
    <div class="admin">
        <form method="post" class="form-x" action="{:U('Teacher/addUsr')}">
             <div class="form-group">
                <div class="label"><label for="name">登陆账号</label></div>
                <div class="field">
                    <input type="text" class="input" id="name" name="name" size="50" placeholder="登陆账号" data-validate="required:请填写用户登陆账号" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="pwd">登录密码</label></div>
                <div class="field">
                    <input type="password" class="input" name="pwd" size="50" placeholder="登陆密码初始化，不做设置则默认为 888888" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="name">教师姓名</label></div>
                <div class="field">
                    <input type="text" class="input" id="realName" name="realName" size="50" placeholder="教师姓名" data-validate="required:请填写教师姓名" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>教师性别</label></div>
                <div class="field">
                    <div class="button-group radio"> 
                        <label class="button active">
                            <input name="sex" value="1" checked="checked" type="radio"><span class="icon icon-male"></span> 男
                        </label> 
                        <label class="button">
                            <input name="sex" value="2" type="radio"><span class="icon icon-female"></span> 女
                        </label> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="studentClass">班级</label></div>
                 <div class="field">        
                    <select type="text" class="input" name="studentclass" >
                      <option value = 1>七年级一班</option>
                      <option value = 2>七年级二班</option>
                      <option value = 3>七年级三班</option>
                      <option value = 4>八年级一班</option>
                      <option value = 5>八年级二班</option>
                      <option value = 6>八年级三班</option>
                      <option value = 7>九年级一班</option>
                      <option value = 8>九年级二班</option>
                      <option value = 8>九年级三班</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="age">所教课程</label></div>

                <div class="field">        
                    <select type="text" class="input" name="TeachingCourse" >
                      <option value = 1>语文</option>
                      <option value = 2>数学</option>
                      <option value = 3>英语</option>
                      <option value = 4>物理</option>
                      <option value = 5>化学</option>
                      <option value = 6>生物</option>
                      <option value = 7>政治</option>
                      <option value = 8>历史</option>
                      <option value = 9>地理</option>
                    </select>
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">提交</button>
                <button class="button bg-yellow form-reset " type="reset">重设</button>
            </div>
        </form>   
       
    </div>